@media (width <= 768px){
    .table{
      width: 100%;
      overflow-x: auto;
      border-radius: 28px;
    }
    .biketable{
    margin-top: 40px;
    max-width: 310px;
    height: 500px;
    border-collapse: collapse;
    overflow: hidden;
    border: 0.5px solid #ccc;
    border-radius: 28px;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .biketable thead{
    background-color: #B5CC22;
    border-radius: 28px 28px 0 0
  }
  
  .biketable thead tr th{ 
    color: white;
    padding: 21px 0;
    font-weight: 500;
    font-size: 18px;
  }
  
  .biketable tbody tr td{
    padding: 24px 0;
    text-align: center;
  }
  
  .odd-row{
    background-color: #f6f6f6;
  }
}
@media (width >= 1024px){
  .biketable{
    margin-top: 40px;
    width: 1200px;
    height: 500px;
    border-collapse: collapse;
    overflow: hidden;
    border: 0.5px solid #ccc;
    border-radius: 28px;
    margin: auto;
  }
  
  .biketable thead{
    background-color: #B5CC22;
    border-radius: 28px 28px 0 0
  }
  
  .biketable thead tr th{ 
    color: white;
    padding: 21px 0;
    font-weight: 500;
    font-size: 18px;
  }
  
  .biketable tbody tr td{
    padding: 24px 0;
    text-align: center;
  }
  
  .odd-row{
    background-color: #f6f6f6;
  }
}



